In [34]:
import pandas as pd
df = pd.read_csv("/Users/anishahoyan/Desktop/HW 05/imdb.csv")

# movie with the highest IMDB rating,

In [9]:
print(df["IMDB_Rating"].max())

9.3

# the difference between release years of the oldest and newest movies

In [16]:
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
difference = df["Released_Year"].max() - df["Released_Year"].min()
print(difference)

100.0

# the average runtime of all the movies

In [17]:
# Remove the ' min' part and convert to numeric (integer)
df["Runtime"] = df["Runtime"].str.replace(" min", "").astype(int)

# Calculate the average runtime
average_runtime = df["Runtime"].mean()

print("Average runtime:", average_runtime, "minutes")

Average runtime: 122.891 minutes

# total revenue made by all the movies

In [18]:
# Removing commas and convert the "Gross" column to numeric
df["Gross"] = df["Gross"].str.replace(",", "").astype(float)

# Calculate the total revenue
total_revenue = df["Gross"].sum()

print("Total revenue made by all the movies:", total_revenue)

Total revenue made by all the movies: 56536877976.0

# bottom 10 movies by meta score

In [20]:
bottom_10_movies = df.sort_values(by="Meta_score").head(10)

print("Bottom 10 Movies by Meta Score:")
print(bottom_10_movies[['Series_Title', 'Meta_score']])

Bottom 10 Movies by Meta Score:
                       Series_Title  Meta_score
788                        I Am Sam        28.0
942            The Butterfly Effect        30.0
356                  Tropa de Elite        33.0
917                    Seven Pounds        36.0
735                     Kai po che!        40.0
957  Fear and Loathing in Las Vegas        41.0
648             The Boondock Saints        44.0
760                         Flipped        45.0
677                        Predator        45.0
935                  Jeux d'enfants        45.0

# average IMDB rating for each genre

In [24]:
# Split the genres and expand the DataFrame
df_exploded = df.set_index(["Series_Title", "IMDB_Rating"])["Genre"].str.split(", ", expand=True).stack().reset_index(name="Genre")

# Calculate the average IMDb rating for each genre
average_rating_by_genre = df_exploded.groupby("Genre")["IMDB_Rating"].mean()

print("Average IMDb Rating for Each Genre:")
print(average_rating_by_genre)

Average IMDb Rating for Each Genre:
Genre
Action       7.948677
Adventure    7.952041
Animation    7.930488
Biography    7.935780
Comedy       7.903433
Crime        7.954545
Drama        7.959392
Family       7.912500
Fantasy      7.931818
Film-Noir    7.989474
History      7.953571
Horror       7.887500
Music        7.914286
Musical      7.947059
Mystery      7.967677
Romance      7.925600
Sci-Fi       7.977612
Sport        7.926316
Thriller     7.909489
War          8.013725
Western      8.000000
Name: IMDB_Rating, dtype: float64

# frequency distribution of each genre (how many times each genre meets in the dataset)

In [29]:
# Split the genres and expand the DataFrame
df_exploded = df.set_index(["Series_Title", "IMDB_Rating"])["Genre"].str.split(", ", expand=True).stack().reset_index(name="Genre")

# Calculate the frequency distribution of each genre
genre_frequency = df_exploded["Genre"].value_counts()

print("Frequency Distribution of Each Genre:")
print(genre_frequency)

Frequency Distribution of Each Genre:
Genre
Drama        724
Comedy       233
Crime        209
Adventure    196
Action       189
Thriller     137
Romance      125
Biography    109
Mystery       99
Animation     82
Sci-Fi        67
Fantasy       66
History       56
Family        56
War           51
Music         35
Horror        32
Western       20
Film-Noir     19
Sport         19
Musical       17
Name: count, dtype: int64

# actor with the most star points (assume ‘Star1’ gives 4 points, ‘Star2’ gives 3, ‘Star3’gives 2 and ‘Star4’ gives a single point).

In [ ]:
# Map star columns to points
star_points = {
    "Star1": 4,
    "Star2": 3,
    "Star3": 2,
    "Star4": 1
}

# Reshape the data so each actor appears in a row with their associated movie
melted_df = pd.melt(df, id_vars=["Series_Title"], value_vars=["Star1", "Star2", "Star3", "Star4"], 
                    var_name="StarType", value_name="Actor")

# Now, we calculate the points by merging with the star_points dictionary
melted_df["Points"] = melted_df["StarType"].map(star_points)

# Sum points for each actor
actor_points = melted_df.groupby("Actor")["Points"].sum()

# Find the actor with the most points
max_points_actor = actor_points.idxmax()
max_points = actor_points.max()

print(f"Actor with the most star points: {max_points_actor} with {max_points} points")

Actor with the most star points: Robert De Niro with 59 points